ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 8px 10px;
    border: 1px solid grey;
    color: dodgerblue;
    cursor:pointer;
}
li:hover, li.active {
    background-color: dodgerblue;
    color: white;
}
table {
    width: 900px;
    border-collapse: collapse;
    margin: 40px auto;
}
td,th {
    text-align: center;
    padding: 8px 20px;
    font-size: 18px;
    border: 1px solid black;

}
